psmconfig.json
apigroups/
psmapi/
swagger/
*__pycache__*
bin/
gen_cloud.sh
gen_dss.sh
gen_ent.sh
gogen_ent.sh
gogen_cloud.sh
gogen_dss.sh
genconfig_cloud.json
genconfig_dss.json
genconfig_ent.json
gogenconfig_ent.json
gogenconfig_cloud.json
gogenconfig_dss.json
src_cloud/
src_dss/
src_ent/
swagger_cloud/
swagger_dss/
swagger_ent/
generated/